*.py?
*.db
nbproject
settings_local.py
.DS_Store

# Vim files
*.swp
*.swo

# git stuff
*.orig

# Rope

.ropeproject/*

# setup stuff
*.egg-info/*

dist/*
build/*
pyspreedly*egg/*

django_spreedly.egg-info/*
